body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*background-image: linear-gradient(300deg,#A79CBF,  #2E5EAA, #55D6BE);*/
  background-color: #465C69;
  color: #201F33;
}

button {
  background-color: #465C69;
  border-radius: 0.5em;
  padding: 0.5em;
  color: #C4A69D;
  border: 1px solid #C4A69D;
}
button:hover {
  background-color: #5E7D90;
}
input {
  background-color: #C4A69D;
  border-radius: 0.5em;
  padding: 0.5em;
  color: #201F33;
  border: 1px solid #A79CBF;
}
input:hover {
  background-color: #EEC7BB;
}
.sendinput {
  border: 1px solid #C4A69D;
  border-radius: 0.5em 0em 0em 0.5em;
}
.sendbutton{
  border: 1px solid #C4A69D;
  border-radius: 0em 0.5em 0.5em 0em;
}
.loginDiv{
  align-items: center;
  width: 80%;
  margin: 5em 10em;
  padding: 1em;
  border-radius: 1em;
}
.centerText{
  margin: 2em 0em; 
  text-align: center;
}
.alignCenter{
  background-color: #465C69;
  border-radius: 0.5em;
  padding: 0.5em;
  color: #C4A69D;
  border: 1px solid #C4A69D;
  cursor: pointer;
  font-size: 0.8em;
  width: 7em;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.alignCenter2{
  background-color: #465C69;
  border-radius: 0.5em;
  padding: 0.5em;
  color: #C4A69D;
  border: 1px solid #C4A69D;
  cursor: pointer;
  font-size: 0.8em;
  width: 7em;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
}
.formClass{
  margin: 2% 0%;
}

.AiFillCaret:hover{
  color: black;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.flexBox{
  display: flex;
  flex-wrap: wrap;
}
.tooltip > img {
  transition: transform .2s;
}
.tooltip > img:hover{
  transform: scale(1.05);
}
.flexBox2{
  display: flex;
  width: 100%;
  position: absolute;
}
.control{
  width: 20%;
}
.control1{
  position: absolute;
  left: 5%;
}
.control2{
  position: absolute;
  right: 5%;
}
#pictureDiv{
  width: 60%;
  align-content: center;

}
#pictureDiv >div >div >img {
  width: auto;
  height: auto;
  max-width: 500px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#pictureDiv >div >div > span{
  width: 70%;
  margin-left: 15%;
}

.flexBox{
  max-width: 95%;
}


.flexBox > div{
  margin: 0px 50px;

  display: block;
  margin-right: auto;
  margin-left: auto;
  
}

.flexBox > div > *{
  margin-bottom: 50px;
  width: auto;
}

.flexBox > div > * > *{
  /*Picture div*/
  min-width: 300px;
  max-width: 500px;  
  height: 500px;
  overflow: hidden;

}
.flexBox > div > * > * > img{
  width: auto;
  height: auto;
  max-height: 400px;
  max-width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.flexBox > div > * > * > span{
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 10%;
}

#actionLike{
  width: 30px; 
  border: 1px solid white; 
  background-color: #638396;
  border-radius: 10px; 
  padding: 4px 0px 0px 0px;
  color: black; 
  cursor: pointer;
}

#actionLike > *:hover{
  color: green;
}

#actionDelete{
  width: 30px; 
  border: 1px solid white; 
  background-color: #638396; 
  border-radius: 10px; 
  padding: 4px 0px 0px 0px;
  color: black;
  cursor: pointer;
  float: right; 
  margin-right: 15%;
}

#actionDelete > *:hover{
  color: red;
}
#commentDelete{
  color: black;
  cursor: pointer;
}

#commentDelete:hover{
  color: red;
}


.AiFillCaret{
  margin-top: 10em;
  cursor: pointer;
  color: #C4A69D;
}

.tooltip {
  position: relative;
  display: block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  border: 1px solid white;
  background-color: #465C69;
  padding: 5px;
  position: absolute;
  margin-top: 10px;
  /* Position the tooltip */
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  
}
